body{
    /* background-color: slateblue; */
    height: 600px;
    width: 100%;
    color: #6c757d;
    font-family: 'Rubik', sans-serif;
    line-height: 1.5;
}
.main-pricing-sec{
    /* background-color: salmon; */
    width: 85%;
    min-height: 300px;
    margin: 0 auto; 
}
.basic{
    /* background-color: sienna; */
    width: 23%;
    min-height: 150p     
}
h3{
    color: #343a40;
    font-size: 25px;
}
.pricing-sec{
    /* background-color: rgb(87, 77, 173); */
    width: 100%;
    min-height: 150px;
    /* padding-left: 0 20px 0 20px; */
    display: flex;
    justify-content: space-between;
    margin-top: 80px;
}
.pricing-sec-header{
    background-color:#F8F9FA;
    height: 80px;
    font-size: 30px;
    display: flex;
    justify-content: space-between;
    padding: 0 15px 5px 15px;
    
}
.pricing-sec-header:hover{
    background-color: #005BEA;
    color: white;
    cursor: pointer;
    transition-duration: 1s;
}
h4 ,h6{
    margin: 0 0 0 20px;
    padding-top: 25px;
    /* color: #343a40; */
}
#only-hover{
    background-color: #005BEA;
    color: white;
}


.pricing-sec-element{
    background-color: #FFFFFF;
    font-size: 25px;

}
button{
    margin: 30px 0 20px 20px;
    padding: 15px 20px;
    border-radius: 5px;
    border: none;
    
}
button:hover{
    background-color: #005BEA;
    color: white;
    cursor: pointer;
    transition-duration: 1s;
}
/* .popular{ 
    /* background-color: rgb(71, 173, 50); */
    /* width: 23%; */
    /* min-height: 150px; */
/* }
.Advance{ */
    /* background-color: rgb(228, 20, 20); */
    /* width: 23%; */
    /* min-height: 150px; */
/* }
.Premium{ */
    /* background-color: rgb(173, 50, 167); */
    /* width: 23%; */
    /* min-height: 150px;  */
/* }  */